{% extends "iframe_base.html" %}
{% block title %}Add New Issue{% endblock %}
{% block content %}
<h4 class="mb-3">Add New Issue</h4>

<form method="post">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Year</label>
    <input type="number" name="year" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">PDF URL</label>
    <input type="text" name="pdf_url" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Content of the Issue</label>
    <textarea name="content_html" class="form-control" rows="5"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Create</button>
</form>
{% endblock %}