{% extends "base.html" %}
{% block title %}{{ _("Авторы") }}{% endblock %}

{% block content %}
<div class="row mb-5">
  <div class="col-lg-8 mb-4">
    <div class="bg-white p-4 rounded shadow-sm h-100">
      <h2 class="mb-4">{{ _("Авторы") }}</h2>

      <div class="accordion" id="authorsAccordion">
        {% for author in authors %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ author.id }}">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ author.id }}"
                    aria-expanded="false"
                    aria-controls="collapse{{ author.id }}">
              {{ author.name }}
            </button>
          </h2>
          <div id="collapse{{ author.id }}" class="accordion-collapse collapse"
               aria-labelledby="heading{{ author.id }}"
               data-bs-parent="#authorsAccordion">
            <div class="accordion-body">
              <ul class="list-unstyled">
                {% for article in author.articles %}
                <li>
                  <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="list-group">
      <a href="/issues" class="list-group-item list-group-item-action">{{ _('Архив') }}</a>
      <a href="/editorial" class="list-group-item list-group-item-action">{{ _('Редакционная коллегия') }}</a>
      <a href="/authors" class="list-group-item list-group-item-action">{{ _('Авторы') }}</a>
      <a href="/terms" class="list-group-item list-group-item-action">{{ _('Правила') }}</a>
      <a href="/ethics" class="list-group-item list-group-item-action">{{ _('Этика') }}</a>
      <a href="/submit" class="list-group-item list-group-item-action">{{ _('Подать статью') }}</a>
      <a href="/license" class="list-group-item list-group-item-action">{{ _('Регистрации') }}</a>
    </div>
  </div>
</div>
{% endblock %}