{% extends "base.html" %}
{% block title %}{{ _("Authors") }}{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">{{ _("Authors") }}</h2>

    <div class="accordion" id="authorsAccordion">
        {% for author in authors %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ author.id }}">
                <button class="accordion-button collapsed" type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapse{{ author.id }}" 
                        aria-expanded="false" 
                        aria-controls="collapse{{ author.id }}">
                    {{ author.name }}
                </button>
            </h2>
            <div id="collapse{{ author.id }}" class="accordion-collapse collapse" 
                 aria-labelledby="heading{{ author.id }}" 
                 data-bs-parent="#authorsAccordion">
                <div class="accordion-body">
                    <ul class="list-unstyled">
                        {% for article in author.articles %}
                        <li>
                            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}