{% extends "base.html" %}
{% block title %}{{ _('Editorial Board') }}{% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">Editorial Board</h2>

    <div class="card shadow p-4">
        <h4 class="mb-3">Main editors</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Дегтярёв Кирилл Евгеньевич — главный редактор, председатель Комиссии по изучению четвертичного периода</li>
            <li class="list-group-item">Тесаков Алексей Сергеевич — заместитель главного редактора</li>
            <li class="list-group-item">Фролов Павел Дмитриевич — учёный секретарь</li>
            <li class="list-group-item">Лаврушин Юрий Александрович — ГИН РАН</li>
            <li class="list-group-item">Панин Андрей Валерьевич — ИГ РАН</li>
            <li class="list-group-item">Застрожнов Андрей Станиславович — Институт Карпинского</li>
            <li class="list-group-item">Зыкин Владимир Сергеевич — НГУ</li>
            <li class="list-group-item">Draženko Nenadić — Белградский университет</li>
            <li class="list-group-item">Thijs van Kolfschoten — Лейденский университет</li>
        </ul>
    </div>
</div>
{% endblock %}