{% extends "base.html" %}
{% block title %}{{ _('Регистрации') }}{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>{{ _('Регистрации') }}</h2>
  <p><strong>{{ _('Журнал зарегистрирован:') }}</strong> </p>
  <p>ISSN 0366-0907</p>
  <p>УДК 551.79 (Четвертичная система)</p>
  <p>ГРНТИ 38.43 (Антропогеновый период)</p>
  <p>Регистрация в Роскомнадзоре электронного СМИ: Серия Эл № ФС77-90476</p>
  <hr>


  <p>{{ _('Материалы журнала доступны по лицензии:') }}</p>
  
  <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
    <img src="https://licensebuttons.net/l/by-nc-nd/4.0/88x31.png" alt="{{ _('CC BY-NC-ND 4.0') }}">
  </a>

  <p>
    {{ _('Access under') }}
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
      {{ _('Лицензия Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 Всемирная') }}.
    </a>
  </p>
</div>
{% endblock %}
