{% extends 'base.html' %}
{% block title %}{{ _('Сбросить пароль') }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="bg-white p-5 rounded shadow-sm">
            <h2 class="mb-4 text-center">{{ _('Сбросить пароль') }}</h2>
            <form method="post" action="/password-reset">
                <div class="mb-3">
                    <label for="email" class="form-label">{{ _('Адрес электронной почты') }}</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            <button type="submit" class="btn btn-primary w-100">{{ _('Сбросить') }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
